/.idea
.idea
/gradle
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
/app/build
